.card-inf-md {
    width: 250px;
    aspect-ratio: 2 / 0.8;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    border: 1px solid rgba(189, 194, 197, 0.3);
    border-radius: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* reduzido levemente */
}

/* Hover */
.card-inf-md:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.card-inf-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TITLE */
.card-title {
    font-size: 15px;
    font-weight: 600;
    color: #8a9099;
    letter-spacing: 0.5px;
    line-height: 1;
    /* remove espaço invisível */
    margin-bottom: -10px;
}

/* ICON */
.card-inf-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(138, 43, 226, 0.1);
    border-radius: 12px;
    height: 35px;
    width: 35px;
}

/* NUMBER */
.card-data {
    font-size: 32px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 1;
    /* ESSENCIAL para compactar */
}

/* DESCRIPTION */
.card-description {
    font-size: 14px;
    color: rgba(85, 79, 79, 0.7);
    line-height: 1.1;
}

.card-inf-sm {
    width: 125px;
    /* metade */
    aspect-ratio: 2 / 0.8;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    border: 1px solid rgba(189, 194, 197, 0.3);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Hover */
.card-inf-sm:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.card-inf-sm .card-inf-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TITLE */
.card-inf-sm .card-title {
    font-size: 11px;
    font-weight: 600;
    color: #8a9099;
    line-height: 1;
}

/* ICON */
.card-inf-sm .card-inf-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(138, 43, 226, 0.1);
    border-radius: 8px;
    height: 22px;
    width: 22px;
}

/* NUMBER */
.card-inf-sm .card-data {
    font-size: 18px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 1;
}

/* DESCRIPTION */
.card-inf-sm .card-description {
    font-size: 10px;
    color: rgba(85, 79, 79, 0.7);
    line-height: 1.1;
}

/*hover*/
.card-inf-md,
.card-inf-sm {
    transition: all 0.25s ease;
}